*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: blueviolet;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 64px);
  grid-template-rows: repeat(6, 64px);
  gap: 8px;
  background-color: black;
  padding: 2em;
  border-radius: 16px;
}

.display {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: grey;
}

button {
  font-size: 2rem;
  font-family: inherit;
}

.btn-ac {
  grid-column-start: 1;
  grid-column-end: 3;
}

.btn-zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
